@charset "UTF-8";
@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 400;
  src: url("../font/notosans-regular.eot"), url("../font/notosans-regular.eot?#iefix") format("embedded-opentype"), url("../font/notosans-regular.woff") format("woff"), url("../font/notosans-regular.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 300;
  src: url("../font/notosans-light.eot"), url("../font/notosans-light.eot?#iefix") format("embedded-opentype"), url("../font/notosans-light.woff") format("woff"), url("../font/notosans-light.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 500;
  src: url("../font/notosans-medium.eot"), url("../font/notosans-medium.eot?#iefix") format("embedded-opentype"), url("../font/notosans-medium.woff") format("woff"), url("../font/notosans-medium.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 700;
  src: url("../font/notosans-bold.eot"), url("../font/notosans-bold.eot?#iefix") format("embedded-opentype"), url("../font/notosans-bold.woff") format("woff"), url("../font/notosans-bold.otf") format("opentype");
}

/*
 * Mixin for Media Queries
 * @include smallScreen(768px);
 * @include smallScreen(1200px);
 */
/*
 * Mixin for placeholder
 * @include placeholderColor(#00ff00);
 */
/*
 * Color
 */
/* -------- Reset -------- */
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
}

header, footer, nav, section, article, figure, aside {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* -------- Base -------- */
html {
  font-size: 62.5%;
}

body {
  color: #1f1f1f;
  font-family: "Montserrat", "NotoSansCJKjp", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  font-size: 1.4rem;
  letter-spacing: .05em;
  line-height: 1.9;
}

:placeholder-shown {
  color: #9b9c9d;
}

::-webkit-input-placeholder {
  color: #9b9c9d;
}

:-moz-placeholder {
  color: #9b9c9d;
  opacity: 1;
}

::-moz-placeholder {
  color: #9b9c9d;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9b9c9d;
}

/* -------- Component -------- */
.btn, .btn-dark, .btn-contact {
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 14px 30px;
  transition: .12s cubic-bezier(.52, .04, 1, .99);
}
.btn:hover, .btn-dark:hover, .btn-contact:hover {
  background-color: #fff;
  color: #1f1f1f;
}

.btn-dark {
  border: 2px solid #1f1f1f; 
  color: #1f1f1f;
}
.btn-dark:hover {
  background-color: #1f1f1f; 
  color: #fff;
}

.btn-contact:hover {
  color: #38b8d3;
}

.btn-large {
  background: #1f1f1f;
  color: #fff;
  font-size: 1.8rem;
  padding: 18px 30px;
  transition: .12s cubic-bezier(.52, .04, 1, .99);
}
.btn-large:hover {
  background-color: rgba(31, 31, 31, .9);
}

.btn-arrow, .btn-arrow-dark, .btn-arrow-contact {
  position: relative;

  padding: 14px 46px 14px 30px;
}
.btn-arrow:after, .btn-arrow-dark:after, .btn-arrow-contact:after {
  position: absolute;
  top: 50%;
  right: 22px;

  content: url("../img/arrow-right.svg");
  display: block;
  height: 14px; 
  margin-top: -6px;
  width: 16px;
}
.btn-arrow:hover:after, .btn-arrow-dark:hover:after, .btn-arrow-contact:hover:after {
  -webkit-animation: toRightFromLeft .3s forwards;
          animation: toRightFromLeft .3s forwards; 
  content: url("../img/arrow-right-dark.svg");
}

.btn-arrow-dark:after {
  content: url("../img/arrow-right-dark.svg");
}

.btn-arrow-dark:hover:after {
  content: url("../img/arrow-right.svg");
}

.btn-arrow-contact:hover:after {
  content: url("../img/arrow-right-blue.svg");
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* -------- Loader -------- */
.wrapper {
  opacity: 0;
}

.loader {
  position: fixed;

  -webkit-align-items: center;
          align-items: center; 
  display:         flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
}

.dot {
  -webkit-animation: fx 1000ms ease infinite 0ms;
          animation: fx 1000ms ease infinite 0ms; 
  background: #38b8d3;
  border-radius: 50%;
  float: left;
  height: 10px;
  margin: 0 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 10px;
}
.dot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
          animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
          animation: fx 1000ms ease infinite 600ms;
}

@-webkit-keyframes fx {
  50% {
    opacity: 1; 
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fx {
  50% {
    opacity: 1; 
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

/* -------- Animation -------- */
body.loaded .wrapper {
  -webkit-animation: fadeIn .4s .2s ease-in-out forwards;
          animation: fadeIn .4s .2s ease-in-out forwards;
}

body.loaded .loader {
  -webkit-animation: fadeOut .5s ease-in-out forwards;
          animation: fadeOut .5s ease-in-out forwards;
}

.anim-copy-ttl span {
  display: inline-block;
  margin-right: 20px;
  opacity: 0;
  -webkit-transform: translateY(10px) scale(.8);
          transform: translateY(10px) scale(.8);
  transition: .4s .8s;
}
.anim-copy-ttl span:nth-child(2) {
  transition: .4s 1s;
}
.anim-copy-ttl span:nth-child(3) {
  transition: .4s 1.2s;
}

body.loaded .anim-copy-ttl span {
  opacity: 1; 
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.anim-copy-text {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  transition: .8s 1.7s;
}

body.loaded .anim-copy-text {
  opacity: 1; 
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.index .anim-fade-in {
  opacity: 0;
  transition: 1s 2.5s;
}

body.index.loaded .anim-fade-in {
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: block; 
    opacity: 1;
  }
  99% {
    display: block; 
    opacity: 0;
  }
  100% {
    display: none; 
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: block; 
    opacity: 1;
  }
  99% {
    display: block; 
    opacity: 0;
  }
  100% {
    display: none; 
    opacity: 0;
  }
}

/* -------- // SP navigation -------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;

  background: #38b8d3;
  height: 100%;
  width: 100%;
  z-index: 20;
}

.overlay-scale {
  opacity: 0;
  -webkit-transform: scale(.95);
          transform: scale(.95);
  transition: .2s; 
  visibility: hidden;
}

.overlay-scale.open {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: .4s; 
  visibility: visible;
}

.sp-nav {
  padding: 8em 2%;
}
.sp-nav ul {
  box-sizing: border-box;
  margin: 0;
  padding: 2%;
}
.sp-nav li:last-child {
  border-bottom: 1px solid #57cae2;
}
.sp-nav a {
  border-top: 1px solid #57cae2;
  color: #fff;
  display: block;
  font-size: 1.7rem;
  padding: 1em .6em;
}

.sp-nav-btn-block {
  position: fixed;
  top: 10px;
  right: 20px;

  display: none;
  z-index: 30;
}
.sp-nav-btn-block .sp-nav-btn {
  position: relative;

  background: #fff; 
  border-radius: 50%;
  display: inline-block;
  height: 54px;
  margin: 14px 0 10px;
  width: 54px;
}
.sp-nav-btn-block .sp-nav-btn:hover {
  background: #fafafa;
}
.sp-nav-btn-block .sp-nav-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  background: #2196f3;
  display: block;
  height: 2px;
  margin: -1px 0 0 -10px;
  transition: .1s; 
  width: 20px;
}
.sp-nav-btn-block .sp-nav-btn-icon:before, .sp-nav-btn-block .sp-nav-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 0;

  background: #2196f3;
  content: "";
  display: block;
  height: 2px;
  transition: .2s; 
  width: 20px;
}
.sp-nav-btn-block .sp-nav-btn-icon:before {
  margin-top: -8px;
}
.sp-nav-btn-block .sp-nav-btn-icon:after {
  margin-top: 6px;
}
.sp-nav-btn-block .sp-nav-btn .close {
  background: transparent;
}
.sp-nav-btn-block .sp-nav-btn .close:before, .sp-nav-btn-block .sp-nav-btn .close:after {
  margin-top: 0;
}
.sp-nav-btn-block .sp-nav-btn .close:before {
  -webkit-transform: rotate(-45deg); 
          transform: rotate(-45deg);
}
.sp-nav-btn-block .sp-nav-btn .close:after {
  -webkit-transform: rotate(-135deg); 
          transform: rotate(-135deg);
}

/* -------- // Base Layout -------- */
.section {
  padding: 70px 0; 
  text-align: center;
}

.section-inner {
  position: relative;

  margin: 0 auto; 
  width: 1200px;
}

.section-ttl {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 10px;
}

.section-subttl {
  font-size: 1.2rem;
  font-weight: 500; 
  line-height: 1;
  margin-bottom: 55px;
}

.section-ttl-white, .section-subttl-white {
  color: #fff;
}

.section-bg-light {
  background-color: #eef5f5;
}

/* -------- // Header -------- */
.header {
  position: absolute;

  width: 100%; 
  z-index: 10;
}

.header-logo {
  margin: 0;
  padding-top: 30px;
}

.header-logo img {
  height: 53px; 
  width: auto;
}

.g-nav {
  position: absolute;
  top: 40px;
  right: 0;
}

.g-nav.is-detail a {
  color: #1f1f1f;
}

.g-nav ul {
  display:         flex; 
  display: -ms-flexbox;
  display: -webkit-flex;
}

.g-nav li {
  margin-left: 50px;
}

.g-nav a {
  position: relative;

  color: #fff; 
  display: inline-block;
}
.g-nav a:after {
  position: absolute;
  top: -8px;
  left: 0;

  background: #38b8d3;
  content: "";
  display: block;
  height: 3px;
  transition: .2s .06s cubic-bezier(.49, .16, .21, 1); 
  width: 0;
}
.g-nav a:hover:after {
  width: 100%;
}

.g-nav .active:after {
  opacity: 1;
  transition: none;
  width: 100%;
}

.header-fixed {
  position: fixed;

  background: rgba(255, 255, 255, .9); 
  border-bottom: 1px solid #eef5f5;
  height: 0;
  overflow: hidden;
  transition: .4s ease;
}

.header-fixed .header-logo {
  padding-top: 18px;
}

.header-fixed .header-logo img {
  height: 40px;
}

.header-fixed .g-nav {
  top: 26px;
}

.header-fixed .g-nav a {
  color: #1f1f1f;
}

.is-open-header-fixed {
  height: 74px;
}

/* -------- // Top -------- */
.top-visual {
  background-image: url("../img/main-mark.png"), url("../img/bg-header.jpg");
  background-position: -10% -180px, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover; 
  height: 800px;
}

@media screen and (min-width: 768px) {
  .top-visual {
    background-attachment: fixed, fixed;
  }
}

.copy {
  color: #fff;
  padding-top: 250px;
}

.copy-ttl {
  font-size: 7.4rem;
}

.copy-text {
  letter-spacing: .12em;
  line-height: 1.9;
  margin: 0 .4em 40px;
}

/* -------- // Footer -------- */
.footer {
  background: #1f1f1f;
  color: #fff; 
  padding: 70px 0;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-logo img {
  height: 53px;
}

.footer-company-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-company-addr {
  position: relative; 

  font-family: "NotoSansCJKjp", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

.footer-sns {
  position: absolute;
  bottom: 4px; 
  left: 340px;
}

.footer-sns a {
  border: 1px solid rgba(255, 255, 255, .3); 
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}

.footer-sns .fb {
  transition: .2s ease;
}
.footer-sns .fb img {
  width: 8px;
}
.footer-sns .fb:hover {
  background: #3b5998;
  border-color: #3b5998;
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 0;

  font-size: 1rem;
  margin: 0;
}

.pagetop {
  position: absolute;
  top: 0;
  right: 0;

  border-top: 2px solid #fff;
  display: inline-block;
  padding: 12px 8px 0;
  transition: .2s ease;
}
.pagetop:hover {
  padding: 8px 8px 0;
}

/* -------- Service Section -------- */
.service-list {
  display:         flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 0 0 50px 0;
}

.service-item {
  width: 350px;
}

.service-item-icon {
  -webkit-align-items: center;
          align-items: center; 
  border-radius: 50%;
  display: -webkit-flex;
  display:         flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 80px;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0 auto;
  width: 80px;
}

.line {
  background-color: #1f1f1f; 
  display: block;
  height: 1px;
  margin: 20px auto;
  width: 40px;
}

.service-item-ttl {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: .12em; 
  margin-bottom: 5px;
}

.service-item-subttl {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.service-item-text {
  line-height: 1.9; 
  text-align: left;
}

.service-devlopment .service-item-icon {
  background-color: #38b8d3;
}

.service-devlopment .service-item-subttl {
  color: #38b8d3;
}

.service-contstruction .service-item-icon {
  background-color: #f0ba32;
}

.service-contstruction .service-item-subttl {
  color: #f0ba32;
}

.service-design .service-item-icon {
  background-color: #d04255;
}

.service-design .service-item-subttl {
  color: #d04255;
}

/* -------- Works Section -------- */
.works-list {
  display:         flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-bottom: 50px;
}

.works-item {
  width: 270px;
}

.works-item a {
  color: #1f1f1f;
}

.works-item-img {
  border: 1px solid transparent; 
  box-sizing: border-box;
  height: 210px;
  overflow: hidden;
  transition: .18s cubic-bezier(.62, 0, 1, .99);
  width: 270px;
}

.works-item-img img {
  transition: .18s cubic-bezier(.62, 0, 1, .99);
}

.works-item a:hover .works-item-img {
  border: 1px solid #38b8d3;
}

.works-item a:hover .works-item-img img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.works-item-data {
  letter-spacing: 0;
  padding: 10px 6px; 
  text-align: left;
}

.works-item-data span {
  font-size: 1.1rem;
}

.works-item-caption {
  font-size: 1.2rem;
  line-height: 1;
}

/* -------- News Section -------- */
.news-list {
  margin: 0 auto; 
  width: 660px;
}

.news-item {
  margin-bottom: 40px; 
  text-align: left;
}

.news-item-date {
  font-size: 1.2rem;
}

.section-bg-logomark {
  background: url("../img/gray-mark.png") no-repeat 70% center fixed;
}

/* -------- Contact Section -------- */
.section-bg-contact {
  background: url("../img/bg-contact.jpg") no-repeat center center;
  background-size: cover;
}

.contact {
  padding-bottom: 20px;
}

.contact p {
  color: #fff;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .g-nav {
    right: 3%;
  }
  .copy {
    box-sizing: border-box;
    padding-top: 220px; 
    width: 100%;
  }
  .section {
    padding: 50px 0;
  }
  .section-inner {
    box-sizing: border-box; 
    padding: 0 3%;
    width: 100%;
  }
  .header-inner {
    padding: 0 3%;
  }
  .service-item {
    width: 250px;
  }
  .works-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; 
    margin: 0 auto;
    width: 620px;
  }
  .works-item {
    margin-bottom: 50px;
  }
  .footer-inner {
    padding: 0 3%;
  }
  .pagetop {
    right: 3%;
  }
  .copyright {
    right: 3%;
  }
}

@media screen and (max-width: 768px) {
  .section-inner {
    padding: 0 6%;
  }
  .header-inner {
    padding: 0 6%;
  }
  .sp-nav-btn-block {
    display: block;
  }
  .header-logo img {
    height: 40px; 
    width: auto;
  }
  .g-nav {
    display: none;
  }
  .top-visual {
    height: auto;
  }
  .copy {
    box-sizing: border-box;
    line-height: 1.2; 
    padding: 40% 0 30%;
    width: 100%;
  }
  .copy-ttl {
    font-size: 6.4rem;
    margin: 0 0 20px;
  }
  .service-list {
    display: block;
  }
  .service-item {
    margin: 0 auto 50px; 
    width: 100%;
  }
  .service-item br {
    display: none;
  }
  .works-list {
    display: block;
    width: auto;
  }
  .works-item {
    margin: 0 auto 50px;
  }
  .news-list {
    width: 100%;
  }
  .footer {
    padding: 0;
  }
  .footer-sns {
    position: static;

    margin-top: 20px;
  }
  .pagetop {
    top: 4em; 
    right: 6%;
  }
  .footer-inner {
    padding: 4em 6% 2em;
  }
  .copyright {
    position: relative;

    margin-top: 50px;
    text-align: center;
  }
}

/* -------- // Page Common -------- */
.page-visual {
  -webkit-align-items: center;
          align-items: center; 
  display:         flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 400px;
  -webkit-justify-content: center;
          justify-content: center;
}

.visual-about {
  background: url("../img/bg-aboutus.jpg") no-repeat top center;
  background-size: cover;
}

.visual-contact {
  background: url("../img/bg-contact_p.jpg") no-repeat top center;
  background-size: cover;
}

.visual-service {
  background: url("../img/bg-service.jpg") no-repeat bottom center;
  background-size: cover;
}

.visual-works {
  background: url("../img/bg-works.jpg") no-repeat top center;
  background-size: cover;
}

.page-ttl-wrap {
  padding-top: 40px; 
  text-align: center;
}

.page-ttl {
  color: #fff; 
  font-size: 4rem;
  line-height: 1.4;
  margin: 0;
}

.page-subttl {
  color: #fff; 
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.section-page {
  padding: 50px 0;
}

.section-entry {
  margin: 0 auto 50px;
  text-align: left; 
  width: 940px;
}

.section-border {
  border-bottom: 1px solid #eef5f5;
}

/* -------- // Page About -------- */
.company-ttl {
  font-size: 2.4rem;
  line-height: 1.4;
  margin: 0;
}

.company-subttl {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0 40px;
}

.company-tbl {
  margin: 0 auto;
  text-align: left; 
  width: 950px;
}

.company-tbl {
  border-collapse: collapse; 
  margin: 0 auto 40px;
  text-align: left;
  width: 750px;
}
.company-tbl th {
  box-sizing: border-box; 
  padding: 10px 15px;
  text-align: right;
  vertical-align: top;
  width: 20%;
}
.company-tbl td {
  box-sizing: border-box; 
  padding: 10px 15px;
  width: 80%;
}
.company-tbl ul {
  list-style-position: inside; 
  list-style-type: circle;
  margin: 0;
}

.google-maps {
  position: relative;

  height: 370px;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;

  height: 370px; 
  width: 100% !important;
}

.google-maps-link {
  color: #38b8d3;
  font-size: 1.2rem;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .section-entry {
    margin: 0 auto 50px;
    text-align: left; 
    width: 100%;
  }
  .fluid-img {
    height: auto; 
    max-width: 100%;
    width: 100%;
  }
  .company-tbl {
    width: 100%;
  }
  .company-tbl th {
    display: block;
    padding: 10px 15px 0;
    text-align: left; 
    width: 100%;
  }
  .company-tbl td {
    display: block;
    padding: 0 15px 20px; 
    width: 100%;
  }
}

/* -------- // Page Contact -------- */
.form-contact {
  background: #eef5f5;
  margin: 50px 0 20px;
  padding: 50px;
}
.form-contact table {
  margin-bottom: 30px; 
  width: 100%;
}
.form-contact th, .form-contact td {
  padding-bottom: 40px;
}
.form-contact tr:last-child th, .form-contact tr:last-child td {
  padding-bottom: 0;
}
.form-contact th {
  font-size: 1.6rem;
  line-height: 1.4;
  padding-right: 20px;
  padding-top: 20px;
  text-align: right;
  vertical-align: top;
  white-space: nowrap; 
  width: 20%;
}
.form-contact th span {
  color: #8f9a9a; 
  display: block;
  font-size: 1.1rem;
}
.form-contact td {
  font-size: 1.8rem;
  padding-right: 10%;
}
.form-contact .error-msg {
  color: #d04255;
  display: none; 
  font-size: 1.4rem;
  text-align: left;
}
.form-contact .error input {
  border: 1px solid #d04255;
}
.form-contact .error .error-msg {
  display: block;
}
.form-contact input, .form-contact textarea {
  border: none;
  box-sizing: border-box; 
  padding: 16px 20px;
  width: 100%;
}
.form-contact textarea {
  height: 300px;
}

@media screen and (max-width: 768px) {
  .form-contact {
    margin: 50px -6%; 
    padding: 6% 6% 12%;
  }
  .form-contact table {
    margin-bottom: 15px;
  }
  .form-contact th {
    text-align: left;
  }
  .form-contact th span {
    display: inline-block;
    margin-left: 10px;
  }
  .form-contact td {
    padding-right: 0;
  }
  .form-contact th, .form-contact td {
    display: block;
    padding-bottom: 10px;
  }
  .form-contact tr:last-child th, .form-contact tr:last-child td {
    padding-bottom: 10px;
  }
  .form-contact input, .form-contact textarea {
    font-size: 1.6rem; 
    padding: 12px 18px;
  }
}

/* -------- // Page Service -------- */
.service-links {
  display:         flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between; 
  margin: 40px auto;
  max-width: 400px;
}

.service-links li {
  cursor: pointer;
  font-size: 1.6rem;
  text-align: center;
  width: 100px;
  z-index: 1;
}
.service-links li:after {
  background-image: url("../img/arrow-bottom.svg");
  background-position: center 12px; 
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  display: block;
  height: 36px;
  margin: 10px auto 0;
  width: 36px;
}

.link-devlopment {
  color: #38b8d3;
}
.link-devlopment:after {
  background-color: #38b8d3;
}

.link-contstruction {
  color: #f0ba32;
}
.link-contstruction:after {
  background-color: #f0ba32;
}

.link-design {
  color: #d04255;
}
.link-design:after {
  background-color: #d04255;
}

.visual-service-detail {
  position: relative;

  background-size: cover; 
  color: #fff;
  height: 260px;
  overflow: hidden;
  text-align: center;
}
.visual-service-detail:before {
  position: absolute;
  top: -100px;

  content: "";
  display: block;
  font-size: 24.0rem;
  opacity: .08; 
  width: 100%;
}

.service-category-ttl {
  font-size: 2.8rem;
  font-weight: 300; 
  line-height: 1.4;
  padding-top: 100px;
}

.service-category-subttl {
  font-size: 1.1rem;
}

.visual-service-development {
  background-image: url("../img/bg-service-detail01.jpg");
}
.visual-service-development:before {
  content: "01";
}

.visual-service-contstruction {
  background-image: url("../img/bg-service-detail02.jpg");
}
.visual-service-contstruction:before {
  content: "02";
}

.visual-service-design {
  background-image: url("../img/bg-service-detail03.jpg");
}
.visual-service-design:before {
  content: "03";
}

.service-details {
  display:         flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between; 
  margin: 60px 0;
}

.is-two-items {
  margin: 60px 220px 80px;
}

.service-detail-item {
  text-align: left; 
  width: 300px;
}

.service-detail-item h4 {
  position: relative;

  font-family: "NotoSansCJKjp", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif; 
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 60px;
}
.service-detail-item h4 .service-detail-icon {
  position: absolute;
  top: 3px;
  left: 0;

  width: 30px;
}

.service-detail-item .twoline {
  line-height: 1.4em; 
  margin-top: -1em;
}
.service-detail-item .twoline .service-detail-icon {
  top: 20px;
}

.service-detail-item p {
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .service-detail-item {
    width: 230px;
  }
  .is-two-items {
    margin: 60px 15% 80px;
  }
}

@media screen and (max-width: 768px) {
  .service-details {
    display: block;
  }
  .service-detail-item {
    margin-bottom: 60px; 
    width: 100%;
  }
  .is-two-items {
    margin: 60px 0 80px;
  }
}

/* -------- // Page Works Detail -------- */
.works-detail-visual {
  padding: 200px 0 110px;
}

.bg-works-detail {
  position: relative;

  height: 282px;
}

.bg-detail01 {
  background: url("../img/works-detail01_bg.jpg") no-repeat center center/cover;
}

.bg-detail02 {
  background: url("../img/works-detail02_bg.jpg") no-repeat center center/cover;
}

.bg-detail03 {
  background: url("../img/works-detail03_bg.jpg") no-repeat center center/cover;
}

.bg-detail04 {
  background: url("../img/works-detail04_bg.jpg") no-repeat center center/cover;
}

.mock-works-detail {
  position: absolute;
  top: -70px; 

  background: url("../img/works-bg-mac.png") no-repeat center center;
  height: 510px;
  width: 100%;
}

.mock-works-detail img {
  display: block;
  margin: 0 auto;
  padding-top: 34px; 
  width: 631px;
}

.works-detail-container {
  position: relative;

  margin: 0 auto;
  text-align: left; 
  width: 830px;
}

.works-detail-container h2 {
  font-size: 3.4rem;
  line-height: 1.4;
}

.work-category {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.category01 {
  color: #38b8d3;
}

.category02 {
  color: #f0ba32;
}

.category03 {
  color: #d04255;
}

.work-role span {
  background: #8e9ea2;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin-right: 8px; 
  padding: 2px 12px;
}

.work-client {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 1rem;
}

.work-client h3 {
  font-size: 1.4rem;
  line-height: 1.4;
}

.work-client a {
  color: #8e9ea2;
}

.work-desc-text {
  margin: 60px 0 90px;
}

.work-desc-text .border {
  background: #1f1f1f; 
  display: block;
  height: 2px;
  width: 10px;
}

.work-desc-text p {
  font-size: 1.2rem; 
  margin-top: 15px;
}

.work-img {
  border: 1px solid #8e9ea2;
}

.work-img + .work-img {
  margin-top: 40px;
}

.work-nav {
  position: relative; 

  height: 50px;
  margin-top: 40px;
  text-align: center;
}
.work-nav .index-btn {
  position: absolute;
  top: 0;
  left: 50%;

  background: url("../img/icon-menu.svg") no-repeat 8px top;
  background-size: 20px 20px;
  color: #1f1f1f;
  display: block;
  font-size: 1.1rem; 
  padding-top: 28px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.work-nav .nav-arrow-btn {
  position: absolute;
  top: 0;

  display: block;
  height: 20px;
  padding: 5px 10px; 
  width: 20px;
}
.work-nav .nav-arrow-btn:before {
  position: absolute;
  top: 0;

  background: #1f1f1f; 
  content: "";
  height: 10px;
  width: 2px;
}
.work-nav .nav-arrow-btn:after {
  position: absolute;
  top: 10px;

  background: #1f1f1f; 
  content: "";
  height: 10px;
  width: 2px;
}
.work-nav .nav-arrow-left {
  left: 30%;

  margin-right: 12%;
}
.work-nav .nav-arrow-left:before {
  left: 10px;

  -webkit-transform: skew(145deg, 0deg);
          transform: skew(145deg, 0deg);
}
.work-nav .nav-arrow-left:after {
  left: 10px;

  -webkit-transform: skew(-145deg, 0deg);
          transform: skew(-145deg, 0deg);
}
.work-nav .nav-arrow-right {
  right: 30%;

  margin-left: 12%;
}
.work-nav .nav-arrow-right:before {
  right: 10px;

  -webkit-transform: skew(35deg, 0deg);
          transform: skew(35deg, 0deg);
}
.work-nav .nav-arrow-right:after {
  right: 10px;

  -webkit-transform: skew(-35deg, 0deg);
          transform: skew(-35deg, 0deg);
}

@media screen and (max-width: 768px) {
  .bg-works-detail {
    height: auto;
  }
  .works-detail-visual {
    padding: 100px 0 0;
  }
  .mock-works-detail {
    position: relative;
    top: 0; 

    background: none;
    height: auto;
  }
  .mock-works-detail img {
    border-bottom: 1px solid #eef5f5; 
    border-top: 1px solid #eef5f5;
    padding-top: 0;
    width: 100%;
  }
  .works-detail-container {
    width: 100%;
  }
  .work-client {
    position: relative;

    margin-top: 20px;
  }
  .work-desc-text {
    margin: 40px 0 60px;
  }
}