footer.footer
  .section-inner.footer-inner
    .footer-logo
      img(src="img/footer-logo.svg")
    dl
      dt.footer-company-name 株式会社クラヴィス
      dd.footer-company-addr
        | 〒060-0001 札幌市中央区北1条西7丁目 あおいビル 7F
        br
        | TEL 011-211-5440
        .footer-sns
          a.fb(href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AF%E3%83%A9%E3%83%B4%E3%82%A3%E3%82%B9-539014726301635/")
            img(src="img/icon-fb.svg")
    a.pagetop(href="#")
      img(src="img/arrow-top.svg")
    p.copyright &copy; CLANWEISS Co Ltd,All Right Reserved.