//- PageLink
- about = "about.html";
- service = "service.html";
- works = "works.html";
- contact = "contact.html";

.overlay.overlay-scale
  nav.sp-nav
    ul
      li: a(href="./") TOP
      li: a(href=about) ABOUT US
      li: a(href=service) SERVICE
      li: a(href=works) WORKS
      li: a(href=contact) CONTACT
.sp-nav-btn-block
  a.sp-nav-btn(href="#")
    span.sp-nav-btn-icon
header.header.header-fixed
  .section-inner.header-inner
    h1.header-logo
      a(href="./")
        img(src="img/header-logomark.svg" alt="株式会社クラヴィス CLANWEISS")
    nav.g-nav
      ul
        li: a(href=about) ABOUT US
        li: a(href=service) SERVICE
        li: a(href=works) WORKS
        li: a(href=contact) CONTACT
header.header.anim-fade-in
  .section-inner.header-inner
    h1.header-logo
      a(href="./")
        img.img(src="img/header-logo.svg" alt="株式会社クラヴィス CLANWEISS")
    nav.g-nav
      ul
        li: a(href=about) ABOUT US
        li: a(href=service) SERVICE
        li: a(href=works) WORKS
        li: a(href=contact) CONTACT