mixin inc_meta_facebook(metas)
  meta(property="og:title", content=metas.title)
  meta(property="og:type", content="website")
  meta(property="og:url", content="https://clanweiss.co.jp/")
  meta(property="og:image", content="https://clanweiss.co.jp/img/og-img.png")
  meta(property="og:site_name", content="株式会社クラヴィス")
  meta(property="og:description", content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。")
  meta(property="fb:app_id", content="任意のID")