block var
  - bodyClass = "";
doctype html
html(lang="ja")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block meta
      mixin meta(metas)
        meta(name="description", content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。")
        meta(name="keywords", content="clanweiss,クラヴィス,EC-CUBE,CMS,札幌")
        meta(name="author", content="")
    block title
    block link
      link(rel='stylesheet', href="css/style.css")
      link(rel='shortcut icon', href='img/favicon.ico')
    block head_script
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-59943088-1', 'auto');
          ga('send', 'pageview');
  body(class=bodyClass)
    .loader
      .dot
      .dot
      .dot
    .wrapper
      include _header
      block body
      include _footer
    block end_of_body
      script(src="//code.jquery.com/jquery-2.2.4.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js")
      script(src="js/common.js")
