extends _layout
block var
  - metas = {}
  - metas.title = 'クラヴィスについて | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title クラヴィスについて | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-about
      .page-ttl-wrap
        h2.page-ttl ABOUT US
        h2.page-subttl クラヴィスについて
    section.section.section-border.section-page
      .section-inner
        p.section-entry
          | クラヴィスは、長年にわたりフリーとして様々な案件に関わってきたメンバーや、大規模システム開発に中心として関わってきたメンバーが仲間となって真っ白なキャンパスからスタートしようという思いでスタートした企業です。
          br
          br
          | システム開発、Webディレクション、デザイン・・・さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供することを目的としています。
        img.fluid-img(src="img/about-img01.png")
    section.section.section-page
      .section-inner
        .company
          h2.company-ttl COMPANY
          h2.company-subttl 会社概要
          table.company-tbl
            tr
              th 社名
              td 株式会社クラヴィス／Clanweiss Co Ltd,
            tr
              th 代表者
              td 代表取締役　佐藤 大樹
            tr
              th 所在地
              td
                | 〒060−0001
                br
                | 札幌市中央区北1条西7丁目1-15 あおいビル 7F
            tr
              th 設立
              td 2014年12月
            tr
              th 従業員数
              td 8名（2015年6月現在）
            tr
              th 主要事業
              td
                ul
                  li Webシステム開発
                  li Webサイト制作／CMS開発
                  li グラフィックデザイン／イラスト制作／DTP
            tr
              th 主要取引先
              td
                | ディーアンドデパートメント株式会社／五反田電子商事株式会社／株式会社コンテンツブレイン／
                | 株式会社インストーリー／株式会社フライブリッジ／株式会社NTTデータ・イントラマートCSI
      .google-maps
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d728.7603755150442!2d141.34584687923845!3d43.06159467853476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b299bfe5f9e5b%3A0xb787a423c937fa75!2z44CSMDYwLTAwMDEg5YyX5rW36YGT5pyt5bmM5biC5Lit5aSu5Yy65YyX77yR5p2h6KW_77yX5LiB55uuIOOBguOBiuOBhOODk-ODqw!5e0!3m2!1sja!2sjp!4v1467211800202" width="600" height="450" frameborder="0" style="border:0;pointer-events:none;" allowfullscreen)
      a.google-maps-link(href="https://goo.gl/maps/xMsaXxeENQF2" target="_blank") Google Mapで開く