extends _layout
block var
  - metas = {}
  - metas.title = 'お問い合わせ | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title お問い合わせ | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-contact
      .page-ttl-wrap
        h2.page-ttl CONTACT
        h2.page-subttl お問い合わせ
    section.section.section-page
      .section-inner
        p お仕事のご依頼やご相談、弊社ご説明はこちらからお問い合わせください。
        form.form-contact(onsubmit="return false;")
          table
            tr
              th お名前
                span NAME
              td
                input(id="name" name="name" type="text" placeholder="お名前をご記入ください（必須）" required)
            tr
              th メールアドレス
                span MAIL ADDRESS
              td
                div.error-msg メールアドレスを入力してください。
                input(id="mail" name="mail" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="メールアドレスをご記入ください（必須）" required)
            tr
              th お問い合わせ内容
                span MESSAGE
              td
                div.error-msg お問い合わせ内容を入力してください。
                textarea(id="contents" name="contents" placeholder="本文をご記入ください（必須）" required)
          button.btn-dark.btn-large(onclick="uploadFile();") 内容を送信する
block append end_of_body
  script(src="js/aws-sdk.min.js")
  script.
    var $id = function(id) { return document.getElementById(id); };
    AWS.config.region = "ap-northeast-1";
    AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: "ap-northeast-1:6ca18f56-7d19-43d0-8205-8ef8351b0231"});
    AWS.config.credentials.get(function(err) {
      if (!err) {
        //console.log("Cognito Identify Id: " + AWS.config.credentials.identityId);
      }
    });
    function uploadFile() {
      if ($("#name").is(':invalid')
        || $("#mail").is(':invalid')
        || $("#contents").is(':invalid')) {
        return false;
      }
      var now = new Date();
      var obj = {"Name":$id("name").value, "mail":$id("mail").value ,"contents":$id("contents").value, "date": now.toLocaleString()};
      AWS.config.region = 'ap-northeast-1';
      var s3BucketName = "clanweiss.co.jp";
      var s3 = new AWS.S3({params: {Bucket: s3BucketName}});
      var blob = new Blob([JSON.stringify(obj, null, 2)], {type:'text/plain'});
      s3.putObject({Key: "uploads/" +now.getTime()+".txt", ContentType: "text/plain", Body: blob, ACL: "public-read"},
        function(err, data){
          if(data !== null){
              alert("お問い合わせ完了致しました");
          }
          else{
            alert("送信に失敗しました");
            //alert("Upload Failed" + err.message);
            }
        });
    }
