extends _layout
block var
  - metas = {}
  - metas.title = '株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
  - bodyClass = "index"
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  section.top-visual
    .section-inner
      .copy
        h2.copy-ttl.anim-copy-ttl
          span One
          span Stop
          span Solution
        p.copy-text.anim-copy-text
          | 株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。
          br
          | さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、
          br
          | 最適なソリューションをワンストップで提供します。
        span.anim-fade-in
          a.btn.btn-arrow(href="about.html") ABOUT US
  main
    section.section
      .section-inner
        h2.section-ttl SERVICE
        h2.section-subttl クラヴィスができること
        ul.service-list
          li.service-item.service-devlopment
            span.service-item-icon
              img(src="img/icon-develop.svg" width="40")
            span.line
            h3.service-item-ttl 開発・制作
            p.service-item-subttl DEVELOPMENT
            p.service-item-text
              | WEBサイトやECサイトの制作から業務システム
              br
              | 開発まで幅広く対応いたします。Wordpressなど
              br
              | 各種CMSカスタマイズも対応可能です。
          li.service-item.service-contstruction
            span.service-item-icon
              img(src="img/icon-contstruction.svg" width="40")
            span.line
            h3.service-item-ttl 構築・運用
            p.service-item-subttl CONTSTRUCTION
            p.service-item-text
              | レンタルサーバーからAmazon Web Services
              br
              | (AWS)などのクラウドサーバー・運用まで、各種サーバー・ネットワーク構築に対応します。
          li.service-item.service-design
            span.service-item-icon
              img(src="img/icon-design.svg" height="40")
            span.line
            h3.service-item-ttl デザイン
            p.service-item-subttl DESIGN
            p.service-item-text
              | ロゴ制作から、商品・サービスカタログ、会社概要の制作など、デザインに関わる業務を幅広く対応します。
        a.btn-dark.btn-arrow-dark(href="service.html") DETAIL
    section.section.section-bg-light
      .section-inner
        h2.section-ttl WORKS
        h2.section-subttl 制作実績
        ul.works-list
          li.works-item
            a(href="work01.html")
              .works-item-img
                img(src="img/works-item03.jpg")
              .works-item-data
                h3.works-item-caption 株式会社インストーリー 様
                span Derection / Design / Coding
          li.works-item
            a(href="work02.html")
              .works-item-img
                img(src="img/works-item02.jpg")
              .works-item-data
                h3.works-item-caption 株式会社アイディエーション 様
                span Design
          li.works-item
            a(href="work03.html")
              .works-item-img
                img(src="img/works-item01.jpg")
              .works-item-data
                h3.works-item-caption ディアンドデパートメント株式会社 様
                span Derection / Coding
          li.works-item
            a(href="work04.html")
              .works-item-img
                img(src="img/works-item04.jpg")
              .works-item-data
                h3.works-item-caption 株式会社NTTデータ・イントラマートCSI 様
                span Design
        a.btn-dark.btn-arrow-dark(href="works.html") MORE
    section.section.section-bg-logomark
      .section-inner
        h2.section-ttl NEWS
        h2.section-subttl ニュース
        .news-list
          dl.news-item
            dt.news-item-date: time 2016.8.1
            dd.news-item-text 自社コーポレートサイトをリニューアルしました。
    section.section.section-bg-contact
      .section-inner
        h2.section-ttl.section-ttl-white CONTACT
        h2.section-subttl.section-subttl-white お問い合わせ
        .contact
          p.contact-text お仕事のご依頼やご相談、弊社ご説明はこちらからお問い合わせください。
          a.btn-contact.btn-arrow-contact(href="contact.html") CONTACT
