extends _layout
block var
  - metas = {}
  - metas.title = 'クラヴィスができること | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title クラヴィスができること | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-service
      .page-ttl-wrap
        h2.page-ttl SERVICE
        h2.page-subttl クラヴィスができること
    section.section.section-page
      .section-inner
        p
          | 株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。
          br
          | IT事業の開発、構築及びコンサルティング等、IT関連事業をトータルにサポートいたします。
        ul.service-links
          li.link-devlopment(data-target="development") 開発・制作
          li.link-contstruction(data-target="contstruction") 構築・運用
          li.link-design(data-target="design") デザイン
    section
      .visual-service-detail.visual-service-development
        h3.service-category-ttl 開発・制作
        h3.service-category-subttl DEVLOPMENT
      .section-inner
        ul.service-details
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service01_01.svg")
              | WEBシステム開発
            p JAVA、PHP、Rubyなどを利用したWebシステム開発全般に対応します。動的なWebサイトの開発から、業務システム開発まで幅広く対応することが可能です。
          li.service-detail-item
            h4.twoline
              img.service-detail-icon(src="img/icon-service01_02.svg")
              | WEBサイト制作／
              br
              | CMSカスタマイズ
            p Webデザインからコーディングまでワンストップで対応します。Wordpress、MovableType、Drupal、Concrete5など各種CMSカスタマイズも対応可能です。
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service01_03.svg")
              | ECサイト制作
            p EC-CUBEを始めとする各種ECパッケージのカスタマイズやASPサービスのカスタマイズ、テンプレートデザインなど、ECに関わる各種デザイン、開発に対応します。
      .visual-service-detail.visual-service-contstruction
        h3.service-category-ttl 構築・運用
        h3.service-category-subttl CONTSTRUCTION
      .section-inner
        ul.service-details.is-two-items
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service02_01.svg")
              | サーバー構築
            p Amazon Web Services（AWS）からレンタルサーバなどのクラウドサーバ構築まで各種サーバ／ネットワーク構築に対応します。
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service02_02.svg")
              | システム運用
            p お客様の運用業務の効率化のご提案やシステムの監視・運用・保守対応を一括してサポートいたします。
      .visual-service-detail.visual-service-design
        h3.service-category-ttl デザイン
        h3.service-category-subttl DESIGN
      .section-inner
        ul.service-details.is-two-items
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service03_01.svg")
              | グラフィックデザイン
            p ロゴ制作や、キャラクターデザイン、DMなどデザインに関わるクリエイティブな業務に対応します。
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service03_02.svg")
              | DTP
            p 商品・サービスカタログ、会社概要の制作など、様々な媒体の印刷デザインを制作いたします。

