extends _layout
block var
  - metas = {}
  - metas.title = '株式会社アイディエーション | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title 株式会社アイディエーション | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.works-detail-visual
      .bg-works-detail.bg-detail02
        .mock-works-detail
          img.fluid-img(src="img/works-detail02_00.jpg")
    section.section
      .section-inner
        .works-detail-container
          h2 ideation
          .work-category.category03 LOGO DESIGN
          .work-role
            span Design
          .work-client
            | Client
            h3 株式会社アイディエーション 様
            a(href="https://ideation-inc.co.jp/" target="_blank") https://ideation-inc.co.jp/
          .work-desc-text
            span.border
            p
              | アイデア開発、デザインリサーチを行うスタートアップ企業のロゴデザインを担当しました。
              br
              | イデア開発というキーワードから「スイッチ」を連想し、「O」の部分を電源マークにしてデザインを行いました。
          img.fluid-img.work-img(src="img/works-detail02_01.jpg")
          .work-nav
            a.nav-arrow-btn.nav-arrow-left(href="work01.html")
            a.index-btn(href="works.html") INDEX
            a.nav-arrow-btn.nav-arrow-right(href="work03.html")
block append end_of_body
  script(src="js/works-detail.js")