extends _layout
block var
  - metas = {}
  - metas.title = '制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-works
      .page-ttl-wrap
        h2.page-ttl WORKS
        h2.page-subttl 制作実績
    section.section.section-page
      .section-inner
        p この他にも実績がございますのでCONTACTからお気軽にお問い合わせください。
    section.section.section-bg-light
      .section-inner
        ul.works-list
          li.works-item
            a(href="work01.html")
              .works-item-img
                img(src="img/works-item03.jpg")
              .works-item-data
                h3.works-item-caption 株式会社インストーリー 様
                span Direction / Design / Coding
          li.works-item
            a(href="work02.html")
              .works-item-img
                img(src="img/works-item02.jpg")
              .works-item-data
                h3.works-item-caption 株式会社アイディエーション 様
                span Design
          li.works-item
            a(href="work03.html")
              .works-item-img
                img(src="img/works-item01.jpg")
              .works-item-data
                h3.works-item-caption ディアンドデパートメント株式会社 様
                span Direction / Coding
          li.works-item
            a(href="work04.html")
              .works-item-img
                img(src="img/works-item04.jpg")
              .works-item-data
                h3.works-item-caption 株式会社NTTデータ・イントラマートCSI 様
                span Design / Coding / CMS