extends _layout
block var
  - metas = {}
  - metas.title = '株式会社インストーリー | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title 株式会社インストーリー | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.works-detail-visual
      .bg-works-detail.bg-detail01
        .mock-works-detail
          img.fluid-img(src="img/works-detail01_00.jpg")
    section.section
      .section-inner
        .works-detail-container
          h2 instory
          .work-category.category01 WEB DESIGN
          .work-role
            span Design
            span Coding
            span Direction
          .work-client
            | Client
            h3 株式会社インストーリー 様
            a(href="http://instory.jp/" target="_blank") http://instory.jp/
          .work-desc-text
            span.border
            p
              | コーポレートサイトの新規構築において、デザイン、ディレクション、コーディングの全般に関して対応致しました。
              br
              | クライアントが持つカタログや画像素材をフル活用し、短納期での構築を行いました。
              br
              | クライアントは映像制作、コンテンツマーケティングという、クリエイティブな事業領域の企業であったため、白をベースとしながら、品位を損なわない画像の活用とフォント調整を行いました。
          img.fluid-img.work-img(src="img/works-detail01_01.jpg")
          .work-nav
            a.index-btn(href="works.html") INDEX
            a.nav-arrow-btn.nav-arrow-right(href="work02.html")
block append end_of_body
  script(src="js/works-detail.js")