extends _layout
block var
  - metas = {}
  - metas.title = 'ディアンドデパートメント株式会社 | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title ディアンドデパートメント株式会社 | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.works-detail-visual
      .bg-works-detail.bg-detail03
        .mock-works-detail
          img.fluid-img(src="img/works-detail03_00.jpg")
    section.section
      .section-inner
        .works-detail-container
          h2 D&amp;DEPARTMENT
          .work-category.category01 WEB DEVELOPMENT
          .work-role
            span Direction
            span Coding
          .work-client
            | Client
            h3 ディアンドデパートメント株式会社 様
            a(href="http://www.d-department.com/" target="_blank") http://www.d-department.com/
          .work-desc-text
            span.border
            p
              | コーポレートサイトのリニューアルにおいて、クライアント側で作成したデザインをベースに、Webレイアウトの調整、HTMLコーディング、CMSの組み込み対応を行いました。
              br
              | またコンテンツとして、各店舗が展開するFacebookページの更新情報を集約表示しお気に入りの記事をHTML5で保存できる機能を開発、提供しました。
          img.fluid-img.work-img(src="img/works-detail03_01.jpg")
          img.fluid-img.work-img(src="img/works-detail03_02.jpg")
          .work-nav
            a.nav-arrow-btn.nav-arrow-left(href="work02.html")
            a.index-btn(href="works.html") INDEX
            a.nav-arrow-btn.nav-arrow-right(href="work04.html")
block append end_of_body
  script(src="js/works-detail.js")