extends _layout
block var
  - metas = {}
  - metas.title = '株式会社NTTデータ・イントラマートCSI | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title 株式会社NTTデータ・イントラマートCSI | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.works-detail-visual
      .bg-works-detail.bg-detail04
        .mock-works-detail
          img.fluid-img(src="img/works-detail04_00.jpg")
    section.section
      .section-inner
        .works-detail-container
          h2 Cloud Base
          .work-category.category03 WEB / CATALOG DESIGN
          .work-role
            span Design
            span Coding
            span CMS
          .work-client
            | Client
            h3
              | 株式会社NTTデータ
              br
              | ・イントラマートCSI 様
            a(href="https://www.cloud-base.jp/" target="_blank") https://www.cloud-base.jp/
          .work-desc-text
            span.border
            p
              | クライアントが提供するクラウドサービス「Cloud-Base」のサービスサイトおよびサービスカタログのリニューアル対応を致しました。
              br
              | 全体的にポップなデザインを基調としながらも、難しくなりがちなシステムの説明をできる限り読みやすいレイアウトとなるように意識して制作致しました。
          img.fluid-img.work-img(src="img/works-detail04_01.jpg")
          img.fluid-img.work-img(src="img/works-detail04_02.jpg")
          .work-nav
            a.nav-arrow-btn.nav-arrow-left(href="work03.html")
            a.index-btn(href="works.html") INDEX
block append end_of_body
  script(src="js/works-detail.js")