@charset "UTF-8";

@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: 400;
    src: url('../font/notosans-regular.eot'),
         url('../font/notosans-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-regular.woff') format('woff'),
         url('../font/notosans-regular.otf') format('opentype')
}
@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: 300;
    src: url('../font/notosans-light.eot'),
         url('../font/notosans-light.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-light.woff') format('woff'),
         url('../font/notosans-light.otf') format('opentype')
}
@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: 500;
    src: url('../font/notosans-medium.eot'),
         url('../font/notosans-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-medium.woff') format('woff'),
         url('../font/notosans-medium.otf') format('opentype')
}
@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: 700;
    src: url('../font/notosans-bold.eot'),
         url('../font/notosans-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/notosans-bold.woff') format('woff'),
         url('../font/notosans-bold.otf') format('opentype')
}

/*
 * Mixin for Media Queries
 * @include smallScreen(768px);
 * @include smallScreen(1200px);
 */
@mixin smallScreen($width: 768px) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin middleScreen($width: 1200px) {
  @media screen and (max-width: $width) {
    @content;
  }
}
/*
 * Mixin for placeholder
 * @include placeholderColor(#00ff00);
 */
@mixin placeholderColor($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}
/*
 * Color
 */
$mainColor: #38b8d3;
$secondColor: #f0ba32;
$threadColor: #d04255;
$darkColor: #1f1f1f;
$lightColor: #eef5f5;

/* -------- Reset -------- */
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
}
header, footer, nav, section, article, figure, aside {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* -------- Base -------- */

html {
  // remを計算しやすくするためベースを10pxとする
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", "NotoSansCJKjp", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  color: $darkColor;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 1.9;
}
@include placeholderColor(#9B9C9D);
/* -------- Component -------- */
.btn {
  cursor: pointer;
  display:inline-block;
  line-height: 1;
  color:#fff;
  padding:14px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  transition: 0.12s cubic-bezier(.52,.04,1,.99);
  &:hover {
    background-color: #fff;
    color: $darkColor;
  }
}
.btn-dark {
  @extend .btn;
  color: $darkColor;
  border: 2px solid $darkColor;
  &:hover {
    color: #fff;
    background-color: $darkColor;
  }
}
.btn-contact {
  @extend .btn;
  &:hover {
    color: $mainColor;
  }
}
.btn-large {
  font-size: 1.8rem;
  padding: 18px 30px;
  background: $darkColor;
  color: #fff;
  transition: 0.12s cubic-bezier(.52,.04,1,.99);
  &:hover {
    background-color: rgba($darkColor, .9);
  }
}
.btn-arrow {
  position: relative;
  padding:14px 46px 14px 30px;
  &:after {
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -6px;
    content: url("../img/arrow-right.svg");
    display: block;
    width: 16px;
    height: 14px;
  }
  &:hover:after {
    content: url("../img/arrow-right-dark.svg");
    animation: toRightFromLeft 0.3s forwards;
  }
}
.btn-arrow-dark {
  @extend .btn-arrow;
  &:after {
    content: url("../img/arrow-right-dark.svg");
  }
  &:hover:after {
    content: url("../img/arrow-right.svg");
  }
}
.btn-arrow-contact {
  @extend .btn-arrow;
  &:hover:after {
    content: url("../img/arrow-right-blue.svg");
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* -------- Loader -------- */
.wrapper {
  opacity: 0;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
$animationSpeed: 1000ms;
$dotSize: 10px;
@mixin animation($delay: 0ms) {
  animation: fx $animationSpeed ease infinite $delay;
}
.dot {
  width: $dotSize;
  height: $dotSize;
  background: $mainColor;
  border-radius: 50%;
  float: left;
  margin: 0 ($dotSize / 2);
  transform: scale(0);
  @include animation();
  &:nth-child(2) {
    @include animation($animationSpeed * 0.3);
  }
  &:nth-child(3) {
    @include animation($animationSpeed * 0.6);
  }
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* -------- Animation -------- */
body.loaded .wrapper{
  animation: fadeIn 0.4s 0.2s ease-in-out forwards;
}
body.loaded .loader{
  animation: fadeOut 0.5s ease-in-out forwards;
}
.anim-copy-ttl span{
  display: inline-block;
  margin-right: 20px;
  transform: translateY(10px) scale(0.8);
  opacity: 0;
  transition: 0.4s 0.8s;
  &:nth-child(2) {
    transition: 0.4s 1s;
  }
  &:nth-child(3) {
    transition: 0.4s 1.2s;
  }
}
body.loaded .anim-copy-ttl span{
  transform: translateY(0) scale(1);
  opacity: 1;
}
.anim-copy-text {
  transform: translateY(10px);
  opacity: 0;
  transition: .8s 1.7s;
}
body.loaded .anim-copy-text {
  transform: translateY(0);
  opacity: 1;
}
.index .anim-fade-in {
  opacity: 0;
  transition: 1s 2.5s;
}
body.index.loaded .anim-fade-in {
  opacity: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    display:block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* -------- // SP navigation -------- */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $mainColor;
  z-index: 20;
}
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.95);
  transition: .2s;
}
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: .4s;
}
.sp-nav {
  padding: 8em 2%;

  ul {
    margin: 0;
    box-sizing: border-box;
    padding: 2%;
  }
  li:last-child {
    border-bottom: 1px solid #57cae2;
  }
  a {
    color: #fff;
    display: block;
    border-top: 1px solid #57cae2;
    font-size: 1.7rem;
    padding: 1em 0.6em;
  }
}
.sp-nav-btn-block {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 30;

  .sp-nav-btn{
    display: inline-block;
    position: relative;
    width: 54px;
    height: 54px;
    margin: 14px 0 10px;
    border-radius: 50%;
    background: #fff;
  }
  .sp-nav-btn:hover{
    background: #fafafa;
  }
  .sp-nav-btn-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    margin: -1px 0 0 -10px;
    background: #2196F3;
    transition: .1s;
  }
  .sp-nav-btn-icon:before, .sp-nav-btn-icon:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 2px;
    background: #2196F3;
    transition: .2s;
  }
  .sp-nav-btn-icon:before{
    margin-top: -8px;
  }
  .sp-nav-btn-icon:after{
    margin-top: 6px;
  }
  .sp-nav-btn .close{
    background: transparent;
  }
  .sp-nav-btn .close:before, .sp-nav-btn .close:after{
    margin-top: 0;
  }
  .sp-nav-btn .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .sp-nav-btn .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

/* -------- // Base Layout -------- */
.section {
  text-align: center;
  padding: 70px 0;
}
.section-inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.section-ttl {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 10px;
}
.section-subttl {
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 55px;
  font-weight: 500;
}
.section-ttl-white,
.section-subttl-white {
  color: #fff;
}
.section-bg-light {
  background-color: $lightColor;
}
/* -------- // Header -------- */
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header-logo {
  margin: 0;
  padding-top: 30px;
}
.header-logo img {
  width: auto;
  height: 53px;
}
.g-nav {
  position: absolute;
  top: 40px;
  right: 0;
}
.g-nav.is-detail a{
  color: $darkColor;
}
.g-nav ul{
  display: flex;
}
.g-nav li{
  margin-left: 50px;
}
.g-nav a{
  position: relative;
  display: inline-block;
  color: #fff;
  &:after {
    display: block;
    position: absolute;
    content : "";
    width: 0;
    height: 3px;
    background: $mainColor;
    left: 0;
    top: -8px;
    transition:.2s .06s cubic-bezier(.49,.16,.21,1);
  }
  &:hover:after {
    width: 100%;
  }
}
.g-nav .active {
  &:after {
    transition: none;
    opacity: 1;
    width: 100%;
  }
}
.header-fixed {
  position: fixed;
  overflow: hidden;
  height: 0;
  transition: 0.4s ease;
  border-bottom:1px solid $lightColor;
  background: rgba(#fff, 0.9);
}
.header-fixed .header-logo{
  padding-top: 18px;
}
.header-fixed .header-logo img{
  height: 40px;
}
.header-fixed .g-nav {
  top: 26px;
}
.header-fixed .g-nav a {
  color: #1f1f1f;
}
.is-open-header-fixed {
  height: 74px;
}
/* -------- // Top -------- */
.top-visual {
  height: 800px;
  background-image: url("../img/main-mark.png"), url("../img/bg-header.jpg");
  background-repeat:no-repeat, no-repeat;
  background-position: -10% -180px, top center;
  background-size: auto, cover;
}

@media screen and (min-width: 768px) {
  .top-visual {
    background-attachment: fixed, fixed;
  }
}
.copy {
 color: #fff;
 padding-top: 250px;
}
.copy-ttl {
  font-size: 7.4rem;
}
.copy-text {
  line-height: 1.9;
  letter-spacing: 0.12em;
  margin:0 0.4em 40px;
}
/* -------- // Footer -------- */
.footer {
  background: $darkColor;
  padding: 70px 0;
  color: #fff;
}
.footer-logo {
  margin-bottom: 25px;
}
.footer-logo img {
  height: 53px;
}
.footer-company-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.footer-company-addr {
  font-size: 1.2rem;
  font-family: "NotoSansCJKjp", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
  margin:0;
  line-height: 1.6;
  position: relative;
}
.footer-sns {
  position: absolute;
  left: 340px;
  bottom: 4px;
}
.footer-sns a {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  border-radius: 50%;
  border: 1px solid rgba(#fff, .3);
}
.footer-sns .fb{
  transition: .2s ease;
  img {
    width: 8px;
  }
  &:hover {
    background: #3B5998;
    border-color: #3B5998;
  }
}
.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  margin: 0;
}
.pagetop {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  border-top: 2px solid #fff;
  padding: 12px 8px 0;
  transition: .2s ease;

  &:hover {
    padding: 8px 8px 0;
  }
}
/* -------- Service Section -------- */
.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
}
.service-item {
    width: 350px;
}
.service-item-icon {
  display: flex;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.line {
    display: block;
    margin: 20px auto;
    width: 40px;
    height: 1px;
    background-color: $darkColor;
}
.service-item-ttl {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 5px;
  letter-spacing: 0.12em;
}
.service-item-subttl {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 25px;
}
.service-item-text {
  text-align: left;
  line-height: 1.9;
}
.service-devlopment {
  .service-item-icon {
    background-color: $mainColor;
  }
  .service-item-subttl {
    color: #38b8d3;
  }
}
.service-contstruction {
  .service-item-icon {
    background-color: $secondColor;
  }
  .service-item-subttl {
    color: #f0ba32;
  }
}
.service-design {
  .service-item-icon {
    background-color: $threadColor;
  }
  .service-item-subttl {
    color: #d04255;
  }
}

/* -------- Works Section -------- */
.works-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.works-item {
  width: 270px;
}
.works-item a {
  color: #1f1f1f;
}
.works-item-img {
  width: 270px;
  height: 210px;
  overflow: hidden;
  box-sizing: border-box;
  transition: .18s cubic-bezier(.62,0,1,.99);
  border: 1px solid transparent;
}
.works-item-img img{
  transition: .18s cubic-bezier(.62,0,1,.99);
}
.works-item a:hover .works-item-img{
  border: 1px solid #38b8d3;
}
.works-item a:hover .works-item-img img {
  transform: scale(1.1,1.1);
}
.works-item-data{
  text-align: left;
  letter-spacing: 0;
  padding: 10px 6px;
}
.works-item-data span{
  font-size: 1.1rem;
}
.works-item-caption {
  font-size: 1.2rem;
  line-height: 1;
}

/* -------- News Section -------- */
.news-list {
  width: 660px;
  margin: 0 auto;
}
.news-item {
  text-align: left;
  margin-bottom: 40px;
}
.news-item-date {
  font-size: 1.2rem;
}
.section-bg-logomark {
  background: url("../img/gray-mark.png") no-repeat 70% center fixed;
}

/* -------- Contact Section -------- */
.section-bg-contact {
  background: url("../img/bg-contact.jpg") no-repeat center center;
  background-size: cover;
}

.contact {
  padding-bottom: 20px;
}
.contact p {
  color: #fff;
  margin-bottom: 50px;
}

@include middleScreen {
  .g-nav {
    right: 3%;
  }
  .copy {
    width: 100%;
    box-sizing: border-box;
    padding-top: 220px;
  }
  .section {
     padding: 50px 0;
   }
  .section-inner {
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
  }
  .header-inner {
    padding: 0 3%;
  }
  .service-item {
    width: 250px;
  }
  .works-list {
    width: 620px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .works-item {
    margin-bottom: 50px;
  }
  .footer-inner {
    padding: 0 3%;
  }
  .pagetop {
    right: 3%;
  }
  .copyright {
    right: 3%;
  }
}
@include smallScreen {
  .section-inner {
    padding: 0 6%;
  }
  .header-inner {
    padding: 0 6%;
  }
  .sp-nav-btn-block {
    display: block;
  }
  .header-logo img {
    width: auto;
    height: 40px;
  }
  .g-nav {
    display: none;
  }
  .top-visual {
    height: auto;
  }
  .copy {
    width: 100%;
    box-sizing: border-box;
    padding: 40% 0 30%;
    line-height: 1.2;
  }
  .copy-ttl {
    font-size: 6.4rem;
    margin:0 0 20px;
  }
  .service-list {
    display: block;
  }
  .service-item {
    width: 100%;
    margin: 0 auto 50px;
  }
  .service-item br {
    display: none;
  }
  .works-list {
    display: block;
    width: auto;
  }
  .works-item {
    margin: 0 auto 50px;
  }
  .news-list {
    width: 100%;
  }
  .footer {
    padding: 0;
  }
  .footer-sns {
    position: static;
    margin-top: 20px;
  }
  .pagetop {
    right: 6%;
    top: 4em;
  }
  .footer-inner {
    padding: 4em 6% 2em;
  }
  .copyright {
    position: relative;
    margin-top: 50px;
    text-align: center;
  }
}
/* -------- // Page Common -------- */
.page-visual {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual-about {
  background: url("../img/bg-aboutus.jpg") no-repeat top center;
  background-size: cover;
}
.visual-contact {
  background: url("../img/bg-contact_p.jpg") no-repeat top center;
  background-size: cover;
}
.visual-service {
  background: url("../img/bg-service.jpg") no-repeat bottom center;
  background-size: cover;
}
.visual-works {
  background: url("../img/bg-works.jpg") no-repeat top center;
  background-size: cover;
}
.page-ttl-wrap {
  text-align: center;
  padding-top: 40px;
}
.page-ttl {
  font-size: 4rem;
  line-height: 1.4;
  margin: 0;
  color: #fff;
}
.page-subttl {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
  color: #fff;
}
.section-page {
  padding: 50px 0;
}
.section-entry {
  width: 940px;
  margin: 0 auto 50px;
  text-align: left;
}
.section-border {
  border-bottom: 1px solid $lightColor;
}
/* -------- // Page About -------- */
.company-ttl {
  font-size: 2.4rem;
  line-height: 1.4;
  margin: 0;
}
.company-subttl {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0 40px;
}
.company-tbl {
  width: 950px;
  margin: 0 auto;
  text-align: left;
}
.company-tbl {
  width: 750px;
  margin: 0 auto 40px;
  text-align: left;
  border-collapse:collapse;
  th {
    width: 20%;
    padding: 10px 15px;
    text-align: right;
    vertical-align: top;
    box-sizing: border-box;
  }
  td {
    width: 80%;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    list-style-type: circle;
    list-style-position: inside;
  }
}
.google-maps {
  position: relative;
  height: 370px;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 370px;
}
.google-maps-link {
  font-size: 1.2rem;
  color: $mainColor;
  text-decoration: underline;
}
@include smallScreen {
  .section-entry {
    width: 100%;
    margin: 0 auto 50px;
    text-align: left;
  }
  .fluid-img {
    width:100%;
    max-width: 100%;
    height: auto;
  }
  .company-tbl {
    width: 100%;
    th {
      display: block;
      width: 100%;
      padding: 10px 15px 0;
      text-align: left;
    }
    td {
      display: block;
      width: 100%;
      padding: 0 15px 20px;
    }
  }
}

/* -------- // Page Contact -------- */
.form-contact {
  margin: 50px 0 20px;
  background: $lightColor;
  padding: 50px;

  table {
    width: 100%;
    margin-bottom: 30px;
  }
  th, td {
    padding-bottom: 40px;
  }
  tr:last-child {
    th, td {
      padding-bottom: 0;
    }
  }
  th {
    font-size: 1.6rem;
    width: 20%;
    vertical-align: top;
    text-align: right;
    line-height: 1.4;
    padding-top: 20px;
    padding-right: 20px;
    white-space: nowrap;
  }
  th span{
    display: block;
    font-size: 1.1rem;
    color: #8f9a9a;
  }
  td {
    font-size: 1.8rem;
    padding-right: 10%;
  }
  .error-msg {
    color: $threadColor;
    text-align: left;
    font-size: 1.4rem;
    display: none;
  }
  .error input {
    border: 1px solid $threadColor;
  }
  .error .error-msg {
    display: block;
  }
  input, textarea{
    width: 100%;
    padding: 16px 20px;
    border: none;
    box-sizing: border-box;
  }
  textarea {
    height: 300px;
  }
}
@include smallScreen {
  .form-contact {
    padding: 6% 6% 12%;
    margin: 50px -6%;
    table {
      margin-bottom: 15px;
    }
    th {
      text-align: left;
    }
    th span {
      display: inline-block;
      margin-left: 10px;
    }
    td {
      padding-right: 0;
    }
    th, td {
      display: block;
      padding-bottom: 10px;
    }
    tr:last-child {
      th, td {
        padding-bottom: 10px;
      }
    }
    input, textarea{
      padding: 12px 18px;
      font-size: 1.6rem;
    }
  }
}

/* -------- // Page Service -------- */
.service-links {
  margin: 40px auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}
.service-links li {
  font-size: 1.6rem;
  width: 100px;
  text-align: center;
  cursor: pointer;
  z-index:1;
  &:after {
    content: "";
    display: block;
    margin: 10px auto 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url("../img/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-position: center 12px;
  }
}
.link-devlopment {
  color: $mainColor;
  &:after {
    background-color: $mainColor;
  }
}
.link-contstruction {
  color: $secondColor;
  &:after {
    background-color: $secondColor;
  }
}
.link-design {
  color: $threadColor;
  &:after {
    background-color: $threadColor;
  }
}
.visual-service-detail {
  height: 260px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  &:before {
    position: absolute;
    content: "";
    font-size: 24.0rem;
    display: block;
    top: -100px;
    width: 100%;
    opacity: 0.08;
  }
}
.service-category-ttl {
  font-size: 2.8rem;
  padding-top: 100px;
  line-height: 1.4;
  font-weight: 300;
}
.service-category-subttl {
  font-size: 1.1rem;
}
.visual-service-development {
  background-image: url("../img/bg-service-detail01.jpg");
  &:before {
    content: "01";
  }
}
.visual-service-contstruction {
  background-image: url("../img/bg-service-detail02.jpg");
  &:before {
    content: "02";
  }
}
.visual-service-design {
  background-image: url("../img/bg-service-detail03.jpg");
  &:before {
    content: "03";
  }
}
.service-details {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}
.is-two-items {
  margin: 60px 220px 80px;
}
.service-detail-item {
  width: 300px;
  text-align: left;

}
.service-detail-item h4 {
  position: relative;
  padding-left: 60px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 400;
  font-family: "NotoSansCJKjp", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  .service-detail-icon {
    position: absolute;
    left: 0;
    top: 3px;
    width: 30px;
  }
}
.service-detail-item .twoline {
  margin-top: -1em;
  line-height: 1.4em;
  .service-detail-icon {
    top: 20px;
  }
}
.service-detail-item p {
  font-size: 1.2rem;
}
@include middleScreen {
  .service-detail-item {
    width: 230px;
  }
  .is-two-items {
    margin: 60px 15% 80px;
  }
}
@include smallScreen {
  .service-details {
    display: block;
  }
  .service-detail-item {
    width: 100%;
    margin-bottom: 60px;
  }
  .is-two-items {
    margin: 60px 0 80px;
  }
}

/* -------- // Page Works Detail -------- */
.works-detail-visual {
  padding: 200px 0 110px;
}
.bg-works-detail {
  position: relative;
  height: 282px;
}
.bg-detail01 {
  background: url("../img/works-detail01_bg.jpg") no-repeat center center /cover;
}
.bg-detail02 {
  background: url("../img/works-detail02_bg.jpg") no-repeat center center /cover;
}
.bg-detail03 {
  background: url("../img/works-detail03_bg.jpg") no-repeat center center /cover;
}
.bg-detail04 {
  background: url("../img/works-detail04_bg.jpg") no-repeat center center /cover;
}
.mock-works-detail {
  width: 100%;
  height: 510px;
  background: url("../img/works-bg-mac.png") no-repeat center center;
  position: absolute;
  top: -70px;
}
.mock-works-detail img {
  margin: 0 auto;
  display: block;
  width: 631px;
  padding-top: 34px;
}
.works-detail-container {
  position: relative;
  width: 830px;
  margin: 0 auto;
  text-align: left;
}
.works-detail-container h2 {
  font-size: 3.4rem;
  line-height: 1.4;
}
.work-category {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.category01 {
  color: $mainColor;
}
.category02 {
  color: $secondColor;
}
.category03 {
  color: $threadColor;
}
.work-role span{
  display: inline-block;
  font-size: 1rem;
  padding: 2px 12px;
  color: #fff;
  background: #8e9ea2;
  margin-right: 8px;
}
.work-client {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}
.work-client h3 {
  font-size: 1.4rem;
  line-height: 1.4;
}
.work-client a {
  color: #8e9ea2;
}
.work-desc-text {
  margin: 60px 0 90px;
}
.work-desc-text .border {
  display: block;
  width: 10px;
  height: 2px;
  background: $darkColor;
}
.work-desc-text p {
  margin-top: 15px;
  font-size: 1.2rem;
}
.work-img {
  border: 1px solid #8e9ea2;
}
.work-img + .work-img {
  margin-top: 40px;
}
.work-nav {
  margin-top: 40px;
  height: 50px;
  text-align: center;
  position: relative;
  .index-btn {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    padding-top: 28px;
    transform: translateX(-50%);
    background: url("../img/icon-menu.svg") no-repeat 8px top;
    background-size: 20px 20px;
    color: $darkColor;
    font-size: 1.1rem;
  }
  .nav-arrow-btn {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top:0;
    padding: 5px 10px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 10px;
      width: 2px;
      background: $darkColor;
    }
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      height: 10px;
      width: 2px;
      background: $darkColor;
    }
  }
  .nav-arrow-left {
    left:30%;
    margin-right: 12%;
    &:before {
      left: 10px;
      transform: skew(145deg, 0deg);
    }
    &:after {
      left: 10px;
      transform: skew(-145deg, 0deg);
    }
  }
  .nav-arrow-right {
    right:30%;
    margin-left: 12%;
    &:before {
      right: 10px;
      transform: skew(35deg, 0deg);
    }
    &:after {
      right: 10px;
      transform: skew(-35deg, 0deg);
    }
  }
}
@include smallScreen {
  .bg-works-detail {
    height: auto;
  }
  .works-detail-visual {
    padding: 100px 0 0;
  }
  .mock-works-detail {
    background: none;
    height: auto;
    position: relative;
    top: 0;
  }
  .mock-works-detail img {
    width: 100%;
    padding-top: 0;
    border-top: 1px solid $lightColor;
    border-bottom: 1px solid $lightColor;
  }
  .works-detail-container {
    width: 100%;
  }
  .work-client {
    position: relative;
    margin-top: 20px;
  }
  .work-desc-text {
    margin: 40px 0 60px;
  }
}